<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app" class="container">
      <div class="product-image">
        <img v-bind:src="image">
      </div>
      <div
        v-for="variant in variants" :key="variant.id" @mouseover="updateImage(variant.image)">{{ variant.color }}</div>
      <div class="text">
        <h1>{{ product }}</h1>
        <p>{{ description }}</p>
        <div class="product-availability">
          <p v-if="inventory > 10">In Stock</p>
          <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out !</p>
          <p v-else>Out of Stock</p>
        </div>
        <div class="composition">
          <ul>
            <li v-for="detail in details">{{ detail }}</li> 
          </ul>
        </div>
        <div class="OnSale">
          <p v-show="onSale">on Sale</p>
        </div>
        <div v-for="variant in variants" :key="variant.id">
          {{ variant.color }}
        </div>
        <div v-for="sizes in size" :key="sizes.id">
          {{ sizes.size }}
        </div>
        <div class="cart">Cart({{ cart }})</div>
        <button class="button" @click="addToCart">Add to Cart</button>
      </div>
    </div>

    <!-- Import Js -->
    <script src="./main.js"></script>
    <!-- Mount App-->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
